/.reasonix
/3rd
*.dll
*.exp
*.pdb
*.lib
/Plugins/PluginSystemSet/temp
/bin
/doc
/Plugins/PluginAutoPage/resource
/Plugins/PluginAutoPage/temp
/Plugins/PluginDevice/temp
/Plugins/PluginManualDebug/temp
/Plugins/PluginMeasureProcess/temp
/Plugins/PluginProductSet/temp
*.Debug
*.user
*.Release
/Plugins/PluginParam/temp
/Plugins/PluginParam/测试数据
/Plugins/PluginSystemSet/测试数据
/interface
*.rar
*.filters
/Plugins/PluginMeasureProcess/测试数据
*.vcxproj
FilmTear.VC.db
Makefile
